###> symfony/framework-bundle ###
/.env.local
/.env
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/images/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

#assets
public/images/*
doctrine.sh
keys.txt
keys1.txt
api.sql
api.sqm
atypiki.mwb
graph.svg
jwt.sh
gitignore.rej

dump.sql
dump1.sql
keys1.txt
ex.json

models/

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
